/**
*  ╭───────────────────────────────────────────────────────────────╮
*  │                                                               │
*  │                 M A R G I N S  C O M P O N E N T              │
*  │                                                               │
*  ╰───────────────────────────────────────────────────────────────╯
*/



.margin-lft{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	height:30px;
	width:6px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.margin-lft.active{
	background-color:var(--main-color);
}
.margin-lft:hover{
	background-color:var(--main-color);
}

.margin-rht{
	display:block;
	position:absolute;
	left:30px;
	top:0px;
	height:30px;
	width:6px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.margin-rht.active{
	background-color:var(--main-color);
}
.margin-rht:hover{
	background-color:var(--main-color);
}

.margin-btm{
	display:block;
	position:absolute;
	left:7px;
	top:26px;
	height:4px;
	width:22px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.margin-btm.active{
	background-color:var(--main-color);
}
.margin-btm:hover{
	background-color:var(--main-color);
}

.margin-top{
	display:block;
	position:absolute;
	left:7px;
	top:0px;
	height:4px;
	width:22px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.margin-top.active{
	background-color:var(--main-color);
}
.margin-top:hover{
	background-color:var(--main-color);
}

.margin-all{
	box-sizing: border-box;
	display:block;
	position:absolute;
	left:9px;
	top:8px;
	height:14px;
	width:18px;
	border:4px solid var(--main-bgcolor);
	background-color:none;
	cursor: pointer;
}
.margin-all.active{
	border:4px solid var(--main-color);
}
.margin-all:hover{
	border:4px solid var(--main-color);
}

