.framePicker{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}

@keyframes running-contour {
  from {
    background-position: 0 0, 8px 100%, 0 8px, 100% 0;
  }
  to {
    background-position: 8px 0, 0 100%, 0 0, 100% 8px;
  }
}

.framePicker .edit-mode{
	background:none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: visible;
}
.framePicker .edit-mode::before{
	background: none;
}
.framePicker .edit-mode:hover{
	background: transparent;
	background-image: linear-gradient(90deg, #333 50%, var(--main-color) 50%), linear-gradient(90deg, #333 50%, var(--main-color) 50%), linear-gradient(0, #333 50%, var(--main-color) 50%), linear-gradient(0, #333 50%, var(--main-color) 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
	animation: running-contour 0.9s linear infinite;


	opacity: 1;
	cursor: pointer;
}
.framePicker .edit-mode-active{
	background: transparent;
	background-image: linear-gradient(90deg, #333 50%, var(--main-color) 50%), linear-gradient(90deg, #333 50%, var(--main-color) 50%), linear-gradient(0, #333 50%, var(--main-color) 50%), linear-gradient(0, #333 50%, var(--main-color) 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
	animation: running-contour 0.9s linear infinite;


	opacity: 1;
	cursor: pointer;
}

.picker {
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	background: #00f;
}
