@keyframes bold-title__keyframes{
	0%{opacity: 0;}
	20%{opacity: 1;}
	40%{opacity: 0;}
	60%{opacity: 1;}
	70%{opacity: 0;}
	80%{opacity: 1;}
	90%{opacity: 0;}
	93%{opacity: 1;}
	96%{opacity: 0;}
  100%{opacity: 1;}
}
.blink {
	animation-name: bold-title__keyframes;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: both;
}
.bold-title {
  opacity: 0.3;
}
.priority-el{
	line-height: 1em;
	box-shadow: 0 0 5px 0 #111;
  background-color: #333;
  border-radius: 3px;
  margin-bottom: 1px;
	-ms-touch-action:initial;
		touch-action:initial;
		list-style: none;
}
.add-shadow-btn{
  display: block;
  position: absolute;
  right: -1px;
  top: -14px;
  height: 11px;
  width: 11px;
  background-color: #111;
  margin: 0 2px 5px auto;
  border-radius: 4px;
  font-size: 16px;
  line-height: 9px;
  color: green;
  cursor: pointer;
}
.shadow-header-title{
	padding: 1px;
	margin: 1px;
	font-size: 10px;
  color: rgb(170,170,170);
  cursor: pointer;
}
.conttext-item{
	display: block;
	position: relative;
	 -webkit-border-radius:3px;
		-moz-border-radius:3px;
			 border-radius:3px;
	background-color:#353535;
	border:none;
	color:var(--main-color);
	padding:0 6px 0px 4px;
	margin:3px 4px 3px 3px;
	font-size:10px;	
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.conttext-item:hover{
	background-color:#555;
	color:#fff;
	cursor:pointer;
}
