.preloader {
  display: block;
  position: absolute;
  width: 400px;
  top: calc(50% - 106px);
  left: calc(50% - 200px);
}
.preloader-title {
  display: block;
  text-align: center;
  color: #aaa;
}
.preloader-line-wrapper {
  margin: auto;
  display: block;
  height: 5px;
  width: 110px;
  border: 1px solid #aaa;
  border-radius: 2.2px;
}
.preloader-line {
  animation-name: preloader-line;
  animation-duration: 3s;
  display: block;
  height: 5px;
  width: 110px;
  background: #aaa;
  border-radius: 2.2px;
}
@keyframes preloader-line {
  0% {
    width: 0px;
  }
  100% {
    width: 110px;
  }
}
