/**
*  ╭───────────────────────────────────────────────────────────────╮
*  │                                                               │
*  │             C O N T A I N E R  C O M P O N E N T              │
*  │                                                               │
*  ╰───────────────────────────────────────────────────────────────╯
*/

.button-container {
  margin: 10px 0px 0px 0px;
}
.confirm-button {
  display: inline-block;
  width: 40px;
  height: 25px;
  background-color: rgba( 0, 0, 255, 1 );
  text-align: center;
  color: white;
  line-height: 23px;
  border-radius: 4px;
  margin: 0 3px;
  cursor: pointer;
}