
.ui-upload-image{
	width: 100%;
	max-width: 260px;
	height: auto;
	-webkit-box-shadow:0 0 12px #202020;
	   -moz-box-shadow:0 0 12px #202020;
	        box-shadow:0 0 12px #202020;
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
	cursor:pointer;
}

.rem-picture-style-btn{
	position: absolute;
	color: red;
	display: block;
	margin: -6px 0 0 0;	
}
.rem-picture-style-btn:hover{
	color: white;
	cursor: pointer;
}