.padding-lft{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	height:30px;
	width:6px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.padding-lft.active{
	background-color:var(--main-color);
}
.padding-lft:hover{
	background-color:var(--main-color);
}

.padding-rht{
	display:block;
	position:absolute;
	left:30px;
	top:0px;
	height:30px;
	width:6px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.padding-rht.active{
	background-color:var(--main-color);
}
.padding-rht:hover{
	background-color:var(--main-color);
}

.padding-btm{
	display:block;
	position:absolute;
	left:7px;
	top:26px;
	height:4px;
	width:22px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.padding-btm.active{
	background-color:var(--main-color);
}
.padding-btm:hover{
	background-color:var(--main-color);
}

.padding-top{
	display:block;
	position:absolute;
	left:7px;
	top:0px;
	height:4px;
	width:22px;
	background-color:var(--main-bgcolor);
	cursor:pointer;
}
.padding-top.active{
	background-color:var(--main-color);
}
.padding-top:hover{
	background-color:var(--main-color);
}

.padding-all{
	box-sizing: border-box;
	display:block;
	position:absolute;
	left:9px;
	top:8px;
	height:14px;
	width:18px;
	border:4px solid var(--main-bgcolor);
	background-color:none;
	cursor: pointer;
}
.padding-all.active{
	border:4px solid var(--main-color);
}
.padding-all:hover{
	border:4px solid var(--main-color);
}

