:root {
  --main-color: #aaa;
  --main-bgcolor: #444;
}

.sign-of-exst-stl {
	display: none;
}

.sign-of-exst-cstm{
	display: none;
}



.hidden {
  display: none;
}


body,
html {
//   word-wrap: break-word;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
  background: #f1f1f1;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}
iframe,
img {
  border: 0;
}
a {
  color: #0073aa;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
a,
div {
  outline: 0;
}
a:active,
a:hover {
  color: #00a0d2;
}
a:focus {
  color: #124964;
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
  outline: 1px solid transparent;
}
p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}
li {
  margin-bottom: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 600;
}
h1 {
  color: #23282d;
  font-size: 2em;
  margin: 0.67em 0;
}
h2,
h3 {
  color: #23282d;
  font-size: 1.3em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
ol,
ul {
  padding: 0;
}
ul {
  list-style: none;
}
ol {
  list-style-type: decimal;
  margin-left: 2em;
}
