:root {
  --main-color: #aaa;
  --main-bgcolor: #444;
}

.sign-of-exst-stl {
	display: none;
}

.sign-of-exst-cstm{
	display: none;
}



.hidden {
  display: none;
}


body,
html {
//   word-wrap: break-word;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
  background: #f1f1f1;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}
iframe,
img {
  border: 0;
}
a {
  color: #0073aa;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}
a,
div {
  outline: 0;
}
a:active,
a:hover {
  color: #00a0d2;
}
a:focus {
  color: #124964;
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
  outline: 1px solid transparent;
}
p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}
li {
  margin-bottom: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 600;
}
h1 {
  color: #23282d;
  font-size: 2em;
  margin: 0.67em 0;
}
h2,
h3 {
  color: #23282d;
  font-size: 1.3em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
ol,
ul {
  padding: 0;
}
ul {
  list-style: none;
}
ol {
  list-style-type: decimal;
  margin-left: 2em;
}





/**
*  ╭───────────────────────────────────────────────────────────────╮
*  │        M A I N                                                │
*  │                                                               │
*  │  Examples and documentation at: http://                       │
*  │                                                               │
*  │  Copyright (c) 2017-2022 S.Adamovich                          │
*  │  License: GNU General Public License v2 or later              │
*  │  License URI: http://www.gnu.org/licenses/gpl-2.0.html        │
*  │  Version: 0.1.0 (10-JUL-2018/22)                              │
*  ╰───────────────────────────────────────────────────────────────╯
*/

.menu-absolute-pos{
	background: #222;
	display: block;
	position: fixed;
	top: 47px;
	left: 11px;
	width: 100%;
	max-width: 50px;
	z-index: 110;
	-webkit-box-shadow: 1px 1px 18px #000;
	   -moz-box-shadow: 1px 1px 18px #000;
			box-shadow: 1px 1px 18px #000;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
}

.menu-absolute-pos-header{
	cursor: move;
	height:20px;
	width:100%;
	padding-left: 3px;
	color: #aaa;
	font-weight: 400;
	font-size: 0.85em;
}

.cstmzblocks-upper-menu{
	display:block;
	position:fixed;
	height:24px;
	background: rgba(2,2,2,0.6);
	z-index: 100;
}

.clr-menu{
	display: block;
	position: absolute;
	background-color: transparent;
	color: rgba(255,255,255,.2);
	right: 0px;
	top:0px;
	margin: 0px 5px 0px auto;
	cursor: pointer;
}
.clr-menu:hover{
	cursor: pointer;
	color: rgba(255,255,255,.6);
}

.dark-stl{
	position: relative;
	 -webkit-border-radius:3px;
		-moz-border-radius:3px;
			 border-radius:3px;
	background-color:#353535;
	border:none;
	color:var(--main-color);
	padding:0 6px 0px 4px;
	margin:3px 4px 3px 3px;
	font-size:12px;	
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.dark-stl:hover{
	background-color:#555;
	color:#fff;
	cursor:pointer;
}

.dstl-inline{
	display: inline-block;
}




.section-wrapper{
	display: block;
	position: relative;
	
	width: auto;
	
	margin: 0; // auto
	overflow: hidden;
	height: 460px; // 70vh;
}

.scale-25-percent{	
	font-size: 4px;
}

.scale-50-percent{	
	font-size: 8px;
}

.scale-75-percent{	
	font-size: 12px;
}

.scale-100-percent{	
	font-size: 16px;
}

.scale-125-percent{	
	font-size: 20px;
}
.scale-150-percent{	
	font-size: 24px;
}









.fab-menu{
	-webkit-box-shadow:0px 0px 12px #1c1c1c;
	-moz-box-shadow:0px 0px 12px #1c1c1c;
	box-shadow:0px 0px 12px #1c1c1c;
	color:var(--main-color);
	cursor: pointer;
}
.fab-menu input[type="text"]{
	border:none
}
.toggle-title{
	padding: 1px;
	margin: 1px;
	font-size: 10px;
}

/**
*  ╭───────────────────────────────────────────────────────────────╮
*  │                                                               │
*  │                DefaultButton  C O M P O N E N T               │
*  │                                                               │
*  ╰───────────────────────────────────────────────────────────────╯
*/


.back-def__btn{
	display: block;
	position: absolute;
	right: 5px;
	top: 4px;
	width: 8px;
	height: 4px;
	border: 2px solid var(--main-bgcolor);
	border-radius: 9px;
	border-left-color: transparent;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
}
.back-def__btn:hover{
	border-color: var(--main-color);
	border-left-color: transparent;
}
.back-def__btn:after{
	content: '';
	position: absolute;
	top: -4px;
	width: 2px;
	height: 2px;
	border: 2px solid var(--main-bgcolor);
	transform:  rotateZ( 45deg );
	border-right-color: transparent;
	border-top-color: transparent;
}
.back-def__btn:hover:after{
	border-left-color: var(--main-color);
	border-bottom-color: var(--main-color);
}

.default-btn-cr {
	display: block;
	position: relative;
	height: 15px;
	width: 25px;
	background-color: #151515;
	margin: 0 2px 5px auto;
	border-radius: 4px;
}

/**
*  ╭────────────────────────────────────╮
*  │             I N P U T S            │
*  ╰────────────────────────────────────╯
*/
.dark-stl-input {
	display:inline-block;
	position:relative;

	font-size: 10px;

	color: #999;
	width: initial;
	background-color:#202020;
	line-height:1em;
	border:none;
	cursor: pointer;
	-webkit-border-radius:3px;
		 -moz-border-radius:3px;
					border-radius:3px;
	-webkit-appearance:none;
		 -moz-appearance:none;
					appearance:none;
}